button {
  background-color: maroon;
  color: aliceblue;
  border-radius: 4px;
  padding: 12px;
  font-size: 16px;
  min-width: 300px;
}

button:disabled {
  background-color: blanchedalmond;
  color: black;
  cursor: no-drop;
}

.loading-image {
  margin-left: 4px;
  width: 16px;
  animation: spin 2s linear 0s infinite;
  display: none;
}

.load {
  display: none;
}

.is-loading {
  display: inline-block;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
